
.icon-right:before { content: '\e800'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e801'; } /* '' */
.icon-right-outline:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */